<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="modal fade" id="modalLimpiezaAgregarServicioCotizacion" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 *ngIf="edit == 0" class="modal-title">Agregar servicio</h4>
                    <h4 *ngIf="edit > 0" class="modal-title">Modificar servicio</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div>
                        <div class="row md-4">
                            <div class="col-md-4 mb-3">
                                <div class="form-floating">
                                    <select class="form-select" [(ngModel)]="model.idDireccionCotizacion" id="ddlSucursalServicio">
                                        <option value="0">General</option>
                                        <option *ngFor="let d of dirs" [ngValue]="d.id">{{ d.descripcion }}</option>
                                    </select>
                                    <label for="ddlSucursalServicio">Directorio</label>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-floating">
                                    <select class="form-select" [(ngModel)]="model.idServicioExtra" id="ddlServicioServicio">
                                        <option value="0">Selecciona una opción...</option>
                                        <option *ngFor="let s of sers" [ngValue]="s.id">{{ s.descripcion }}</option>
                                    </select>
                                    <label for="ddlServicioServicio">Servicio</label>
                                </div>
                                <span *ngIf="ferr('IdServicioExtra')" class="text-danger">{{ terr('IdServicioExtra') }}</span>

                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <div class="form-floating">
                                    <select class="form-select" aria-label="IdFrecuencia" [(ngModel)]="model.idFrecuencia" id="ddlFrecuenciaServicio">
                                        <option value="0">Selecciona una opción...</option>
                                        <option *ngFor="let f of fres" [ngValue]="f.id">{{ f.nom }}</option>
                                    </select>
                                    <label for="ddlFrecuenciaServicio">Frecuencia:</label>
                                </div>
                                <span *ngIf="ferr('IdFrecuencia')" class="text-danger">{{ terr('IdFrecuencia') }}</span>
                            </div>
                            <div class="col-md-4 mb-3 col-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" [(ngModel)]="model.precioUnitario" id="ddlCostoServicio">
                                    <label for="ddlCostoServicio">Costo</label>
                                </div>
                                <span *ngIf="ferr('PrecioUnitario')" class="text-danger">{{ terr('PrecioUnitario') }}</span>
                            </div>
                            <div class="col-md-4 mb-3 col-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" [(ngModel)]="model.cantidad" id="ddlCantidadServicio">
                                    <label for="ddlCantidadServicio">Cantidad</label>
                                </div>
                                <span *ngIf="ferr('Cantidad')" class="text-danger">{{ terr('Cantidad') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" id="btnGuardarMaterial" (click)="guarda()" class="btn btn-outline-success"><i class="fa-solid fa-save"></i> Guardar</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="close()" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
<toast-widget></toast-widget>


