@using SistemaVentasBatia.Enums

@{
    ViewData["Title"] = "Crear Cotización";
}
<meta charset="UTF-8">
<div class="pt-3 mb-2">
    <h1 class="h2">Nueva Cotización</h1>
</div>

<br />

<div class="d-flex flex-column justify-content-center h-100">
    <div class="row">
        <div class="col-sm-12 col-md-6 text-center mb-2">
            <a class="btn btn-lg btn-outline-primary" id="btnSeleccionarProspecto"><icon class="fa-solid fa-list"></icon> Elegir un prospecto existente</a>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
            <a class="btn btn-lg btn-outline-primary" id="btnCrearProspecto"><icon class="fa-solid fa-plus"></icon> Crear un nuevo prospecto</a>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCrearProspecto">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Nuevo Prospecto</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <partial name="_FormNuevoProspecto" model="new SistemaVentasBatia.DTOs.ProspectoDTO()" />
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalSeleccionarProspecto">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Seleccionar Prospecto</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form asp-action="SeleccionarProspecto" method="post">
                    <div class="row">
                        <div>
                            <div class="btn-group float-end">
                                <button type="submit" class="btn btn-outline-success"><icon class="fa-solid fa-check"></icon> Iniciar Cotización</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-8">
                            <div class="form-floating">
                                <select class="form-select" aria-label="IdProspecto" name="IdProspecto" asp-items="(List<SelectListItem>)ViewBag.Prospectos">
                                </select>
                                <label for="IdProspecto">Prospecto</label>
                            </div>
                            <span class="text-danger"></span>
                        </div>
                    </div>

                    <h5>Servicios</h5>
                    <br />

                    <div class="row">
                        @foreach (Servicio servicio in (Servicio[])Enum.GetValues(typeof(Servicio)))
                        {
                            <div class="col-sm-6 col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="@("ListaServicios[" + (int)servicio + "]")" value="true">
                                    <label class="form-check-label">
                                        @servicio.ToString()
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $("#btnSeleccionarProspecto").click(function () {
                var modal = new bootstrap.Modal(document.getElementById('modalSeleccionarProspecto'), {});

                modal.show();
            });

            $("#btnCrearProspecto").click(function () {
                var modal = new bootstrap.Modal(document.getElementById('modalCrearProspecto'), {});

                modal.show();
            });
        });

        $(document).on('click', '#btnGuardarProspecto', function () {
            var form = $('#formNuevoProspecto');

            $.validator.unobtrusive.parse(form);

            var validate = form.validate().form();

            if (validate) {
                form.submit();
            }

        });
    </script>
} 