<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="modal fade" id="editcot" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Editar cotización</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div>
                        <br />
                        <div class="row mb-3">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" [(ngModel)]="prospecto" name="IdProspecto" id="ddlProspecto">
                                        <option value="0">Selecciona una opción...</option>
                                        <option *ngFor="let p of lpros" [ngValue]="p.idProspecto">{{ p.nombreComercial }}</option>
                                    </select>
                                    <label for="ddlProspecto">Prospecto</label>
                                </div>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" [(ngModel)]="servicio" name="IdServicio" id="ddlServicio">
                                        <option value="0">Selecciona una opción...</option>
                                        <option *ngFor="let s of sers" [ngValue]="s.id">{{ s.nom }}</option>
                                    </select>
                                    <label for="ddlServicio">Servicio</label>
                                </div>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" (click)="guarda()" class="btn btn-outline-success"><i class="fa-solid fa-check"></i> Guardar</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
