<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="modal fade" id="modalSubirContratoCliente" data-bs-backdrop="static">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Cargar contrato de cliente</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="col-md-4 col-4 text-center">
                                <input type="file" accept=".pdf, .docx" (change)="onFileSelected($event)" style="display: none;" #fileInput>
                                <button class="btn btn-outline-primary" (click)="fileInput.click()"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
                            </div>
                            <div class="col-md-6 col-4">
                                <div *ngIf="selectedFile" class="form-floating">
                                    <input type="text" class="form-control custom-input" value="{{ selectedFile.name }}" placeholder="File" disabled id="nombreArchivo">
                                    <label for="nombreArchivo">Documento</label>
                                </div>
                                <span *ngIf="ferr('archivoSeleccionado')" class="text-danger">{{ terr('archivoSeleccionado') }}</span>

                            </div>
                            <div class="col-md-2 col-2">
                                <button *ngIf="selectedFile" class="btn btn-outline-danger" (click)="limpiarArchivoSeleccionado()">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                            <div class="col-md-5 col-2 ">
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" (click)="guarda()" class="btn btn-outline-success" [disabled]="isLoading"><i class="fa-solid fa-upload"></i> Mandar contrato a revision legal</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
<toast-widget></toast-widget>
<carga-widget></carga-widget>